
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Rubik+Glitch&family=Teko:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    scroll-behavior: smooth;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
}

.container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
}

.menu{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}   

.icons li{
    width: 65px;
    height: 65px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    color: #111;
}

.icons li a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #111;
    margin-top: 9px;
    margin-bottom: 8px;
}

.icons li p{
    font-family: 'Play', sans-serif;
    color: #111;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: bold;
    font-size: 12px !important;   
}

.menu li{
    position: absolute;
    list-style: none;
    font-size: 1.5em;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
}

.menu.active li{
    transform: translateY(calc(-80px * var(--i)));
}

.toggle{  
    position: absolute;
    width: 70px;
    height: 70px;
    background: #fff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 3em;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
}

.home-section-h{
    text-align: center;
    font-size: 23px;
    line-height: 60px;
    color: #fff;
}

.home-section-h .init{
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 19ch;
    animation: typing 2s steps(12), blink .3s infinite step-end alternate;
    overflow:hidden;
    transition-delay: calc(0.1s * var(--i));
}

@keyframes typing{
    from{width: 0;}
}

@keyframes blink{
    50% {border-color: transparent;}
}

.home-section img{
    max-width: 100%;
    border-radius: 25%;
    padding: 20px 25px 0 25px;
}



@media (min-width: 767px){
    
    .menu{
        position: fixed;
        top: 0;
        right: 0;    
        width: 125px;
        height: 100px;
        display: flex;  
        justify-content: center;
        align-items: center;
        /* background: #fff; */
    }

    .menu.active li{
        transform: translateY(calc(80px * var(--i)));
    }
    
}